---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=Providence,%20RI&term=chinese
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ShqnxTUiCW38mk085Er_U0VnF9sIe9VFTabuOrz_rJ9wVRROuTeJXmYeMxceABGVQ5WuNlgX3Yz9rKgRQO_bHhXELG6jXwBd5ozM_w-KySXqJuvrGsOu-qt5r_1lYnYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Resettime:
      - '2022-04-27T00:00:00+00:00'
      Ratelimit-Remaining:
      - '4997'
      X-Zipkin-Id:
      - 90921092b1ea66de
      Ratelimit-Dailylimit:
      - '5000'
      X-Routing-Service:
      - routing-main--useast1-6454f77786-f4t8h; site=public_api_v3
      X-Cloudmap:
      - routing_useast1
      X-Proxied:
      - 10-65-133-10-useast1bprod
      X-Extlb:
      - 10-65-133-10-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "EZZHI0ydTVflre_h26UaBw", "alias": "chengdu-taste-providence",
        "name": "Chengdu Taste", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/QRcwvWg9AxwSgCGWfBN8lw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/chengdu-taste-providence?adjust_creative=Xpt5i_Tw0dOSXLo6fxgdRg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Xpt5i_Tw0dOSXLo6fxgdRg",
        "review_count": 229, "categories": [{"alias": "szechuan", "title": "Szechuan"}],
        "rating": 4.5, "coordinates": {"latitude": 41.836084, "longitude": -71.427137},
        "transactions": ["pickup", "delivery"], "price": "$$", "location": {"address1":
        "495 Smith St", "address2": null, "address3": "", "city": "Providence", "zip_code":
        "02908", "country": "US", "state": "RI", "display_address": ["495 Smith St",
        "Providence, RI 02908"]}, "phone": "+14017295699", "display_phone": "(401)
        729-5699", "distance": 1529.5582185614262}, {"id": "JsRLnT4OQx85vzVn7Phzlg",
        "alias": "chinatown-on-thayer-providence", "name": "Chinatown On Thayer",
        "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/_k6arjuaLPcoZCS4JAgm9Q/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/chinatown-on-thayer-providence?adjust_creative=Xpt5i_Tw0dOSXLo6fxgdRg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Xpt5i_Tw0dOSXLo6fxgdRg",
        "review_count": 188, "categories": [[...]
