---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=k614zkilBmetqH8yHdIL6SAZ2HO1KeHA&location=Providence,%20RI
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 26 Apr 2022 21:41:59 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Providence,
        RI"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Providence","adminArea5Type":"City","adminArea4":"Providence
        County","adminArea4Type":"County","adminArea3":"RI","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040064","unknownInput":"","type":"s","latLng":{"lat":41.824461,"lng":-71.412747},"displayLatLng":{"lat":41.824461,"lng":-71.412747},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=k614zkilBmetqH8yHdIL6SAZ2HO1KeHA&type=map&size=225,160&locations=41.824461,-71.412747|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1585809658"}]}]}'
  recorded_at: Tue, 26 Apr 2022 21:41:59 GMT
recorded_with: VCR 6.1.0
