---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=k614zkilBmetqH8yHdIL6SAZ2HO1KeHA&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 24 Apr 2022 00:43:19 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=k614zkilBmetqH8yHdIL6SAZ2HO1KeHA&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-2098760177"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=k614zkilBmetqH8yHdIL6SAZ2HO1KeHA&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=79177564"}]}]}'
  recorded_at: Sun, 24 Apr 2022 00:43:19 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=b2b98c134d63ec08139b17d63009a00e&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1650760999,"sunrise":1650715839,"sunset":1650764727,"temp":54.5,"feels_like":50.77,"pressure":1005,"humidity":24,"dew_point":19.99,"uvi":0.18,"clouds":93,"visibility":10000,"wind_speed":11.01,"wind_deg":278,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1650758400,"temp":54.66,"feels_like":50.92,"pressure":1005,"humidity":23,"dew_point":19.24,"uvi":0.71,"clouds":90,"visibility":10000,"wind_speed":17.81,"wind_deg":299,"wind_gust":23.38,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.04},{"dt":1650762000,"temp":54.5,"feels_like":50.77,"pressure":1005,"humidity":24,"dew_point":19.99,"uvi":0.18,"clouds":93,"visibility":10000,"wind_speed":17.34,"wind_deg":296,"wind_gust":26.55,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1650765600,"temp":53.76,"feels_like":49.96,"pressure":1006,"humidity":24,"dew_point":19.44,"uvi":0,"clouds":89,"visibility":10000,"wind_speed":14,"wind_deg":290,"wind_gust":28.79,"weather":[{"id":8[...]
